  
  <h4> <%= vendor_address.address_type_i18n %></h4>
  <div>地址 : <%= vendor_address.building_and_street %> </div>
  <div>郵遞區號: <%= vendor_address.zipcode %> </div>
  <div>國家: <%= vendor_address.country %> </div>
