// Place all the styles related to the repair_acceptance_certificate_lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
