  <div class="col-xs-6 col-md-3">

    <div class="group">
      <%= link_to acceptance_certification_path(acceptance_certification) do %>
      <%= acceptance_certification.accept_cert_no %>
      <% end %>

    </div>

   

  </div>